/*global css3*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

a, .btn, .lbl {
    -webkit-transition: all linear .25s;
}

.ipt {
    -webkit-transition: all linear .25s;
}

/* header style */
#header {
    height: 60px;
    background: #282828;
    line-height: 60px;
}

#header .logo {
    font-size: 28px;
    color: #DDD;
}

#header .logo:hover {
    color: #FAFAFA;
}

#nav {
    margin-left: 30px;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: #F0F0F0;
    padding: 0 25px;
    font-size: 15px;
}

#nav li a:hover {
    background: #181818;
    text-shadow: 0 0 4px #0079bc;
    color: #2aabd2;
}

#header .git-btn {
    line-height: 40px;
    margin-top: 14px;
}

#sign-in {
    margin-top: 14px;
    padding: 4px 25px !important;
}

#sign-in:hover {
    background-color: #005b9b !important;
    color: white !important;
}

/* hero container */
#hero {
    background: #EEE;
}

#hero .container {
    padding: 40px 0;
    background: url("../img/gopher.png") right 20px no-repeat;
}

#hero h4 {
    color: #888;
}

#hero strong {
    color: #0079bc;
}

/* search and compile form */
#go-form {
    margin: 80px auto;
}

#go-form .item {
    margin-bottom: 40px;
}

#go-ipt {
    width: 100%;
    height: 40px;
    font-size: 21px;
    border-radius: 6px;
    margin-left: -12px;
}

#go-ipt-tip {
    color: #d14511;
    display: none;
}

#go-ipt:hover {
    box-shadow: 0 0 4px #2aabd2;
}

.go-btn {
    font-size: 18px;
    height: 50px;
    padding: 0 2em;
    margin: 0 1em;
}

/* features */
#feature .doc pre {
    background: #FFF;
    padding: 6px 12px;
}

#feature .doc code {
    font-size: 16px;
    background: #FFF;
    font-family: Consolas, "Courier New", Arial;
}

#feature .case ul {
    margin-top: 0;
    margin-left: 0;
}

#feature .case em.lbl {
    padding: 4px 6px;
    margin-right: 12px;
    font-family: Verdana, Tahoma, '微软雅黑', '宋体', sans-serif;
    font-size: 12px;
}

#feature .title {
    font-weight: bold;
}

#feature .warning .lbl {
    padding: 2px 4px 6px;
    margin: 0 6px;
}

/* footer */
#footer {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 24px 0;
    line-height: 50px;
    color: #666;
}

#footer img {
    height: 50px;
    vertical-align: middle;
}

#footer .thanks a {
    margin-right: .8em;
}

/* download */

#project {
    margin-top: 20px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px dashed #BBB;
}

#project h3 a {
    padding: 6px 0 6px 45px;
}

#project h3 a.github {
    background: url("../img/github.png") left center no-repeat;
}

/* dl-form */

#dl-form label {
    font-size: 18px;
    margin-right: 44px;
    font-weight: bold;
    width: 80px;
}

#dl-form .field {
    margin-bottom: 32px;
}

#dl-form .radio {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding-right: 22px;
}

#dl-form .os .radio {
    padding-left: 44px;
}

#dl-form .windows {
    background: url("../img/win.png") left center no-repeat;
}

#dl-form .linux {
    background: url("../img/linux.png") left center no-repeat;
}

#dl-form .darwin {
    background: url("../img/mac.png") left center no-repeat;
}

#dl-form .btn {
    font-size: 16px;
    height: 40px;
    padding: 0 1em;
}

/* #termial */

#terminal .ipt {
    width: 80%;
}

#terminal .tip {
    padding-left: 0;
    margin-left: 0;
}

/* build */
#build .project-header .status, #build .project-header .to-download {
    margin-top: 12px;
    margin-left: 24px;
}

#build .project-header .status {
    color: #888;
}

#build .process-header {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px dashed #BBB;
}

#build .process-header input {
    margin-right: 18px;
}

#build .process-output {
    margin-top: 24px;
    background-color: #444;
    color: #EEE;
    padding: 12px 24px;
    border-radius: 6px;
    min-height: 360px;
}

#build .console {
    font-family: Consolas, "Courier New", Arial, sans-serif;
    word-wrap: break-word;
}

#build .badge{
    vertical-align: middle;
}

/* #search-result */

#search-result {
    margin-top: 24px;
    margin-bottom: 40px;
}

#search-result h3 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px dashed #BBB;
}

#search-result-list li {
    margin-bottom: 24px;
}

#search-result-list li > * {
    margin-right: 18px;
}

#search-result-list .visit, #search-result .thanks, #search-result .thanks a {
    color: #888;
}

/** #about and #doc **/

#about,#doc{
    margin-top: 24px;
    margin-bottom: 40px;
}