<div class="container">
	<div >
		<h2><img src="http://goer.cc/themes/site/default/images/logo.png"/> golang 	online compiler <small><a target="_blank" href="http://git.oschina.net/shxsun/gocompile/issues">意见反馈</a> <i>author:</i> skyblue</small></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		Name:
		<i><b><span id="name">{{.}}</span></b></i>
		</div>
		<div class="panel-body">
			<pre><span class="console" style="color:green"></span> <span class="waiting">/</span></pre>
		</div>
	</div>
</div>