<div class="panel panel-default">
	<div class="panel-heading">
		source :<i><b><span id="name"> {{.FullName}}</span></b></i> 
		
		--- <!-- download 
		<a href="{{.DownloadPrefix}}/{{.FullName}}/{{.Name}}.exe">windows</a>
		<a href=#>linux</a>-->
		<a href=/download/{{.FullName}}>[Goto download page]</a>
		<a href="/rebuild/{{.FullName}}" id="rebuild" style="color: red; display: none">[Rebuild]</a>
	</div>
	<div class="panel-body">
		<pre><span class="console" style="color:green"></span> <span class="waiting">/</span></pre>
	</div>
</div>

<script>
	// websocket address
	var wsUri ="{{.WsServer}}"; 
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="{{.JsDir}}/site.js"></script>
