#!/bin/bash -
#
# script for project github.com/shxsun/gobuild
#

SERVER={{.Server}}
[[ "$SERVER" = "{{"."}}" ]] && SERVER="127.0.0.1:3000"
PROJECT={{.Project}}
[[ "$PROJECT" = "{{"."}}" ]] && PROJECT="github.com/shxsun/fswatch"

OS(){
	local os=
	case $(uname -s | awk '{print tolower($0)}') in
		linux) os=linux ;;
		darwin) os=darwin;;
		*) os=windows;;
	esac
	echo "$os"
}

Arch(){
	local arch=
	case $(uname -m) in
		x86_64) arch=amd64 ;;
		i386|i486|i586|i686) arch=386 ;;
		*) arch=unknown;;
	esac
	echo "$arch"
}

set -eu
os=$(OS)
arch=$(Arch)

echo "OS: $os"
echo "Arch: $arch"

ext=
if [[ "$os" = "windows" ]]
then
	ext=".exe"
fi
basename=$(basename $PROJECT)
fullname="${basename}${ext}"
#wget "$CDN/$PROJECT/$fullname" -O $basename && chmod +x $basename
curl "http://$SERVER/dl/latest/?p=$PROJECT&os=$os&arch=$arch" && chmod +x "${basename}"
