#!/bin/bash -
#
# script for project github.com/codeskyblue/gobuild
#

server={{.Server}}
[[ "$server" = "{{"."}}" ]] && server="127.0.0.1:3000"
project={{.Project}}
[[ "$project" = "{{"."}}" ]] && project="github.com/codeskyblue/fswatch"

OS(){
	local os=
	case $(uname -s | awk '{print tolower($0)}') in
		linux) os=linux ;;
		darwin) os=darwin;;
		*) os=windows;;
	esac
	echo "$os"
}

Arch(){
	local arch=
	case $(uname -m) in
		x86_64) arch=amd64 ;;
		i386|i486|i586|i686) arch=386 ;;
		*) arch=unknown;;
	esac
	echo "$arch"
}

set -eu
os=$(OS)
arch=$(Arch)

printf "=== os: %s, arch: %s\n" "$os" "$arch"

ext=
[[ "$os" = "windows" ]] && ext=".exe"

basename=$(basename $project)
fullname="${basename}${ext}"
#wget "$CDN/$project/$fullname" -O $basename && chmod +x $basename
curl -o "$fullname" -SL "http://$server/dl?p=$project&os=$os&arch=$arch" && chmod +x "${fullname}" && echo "success download -- ${fullname}"
