<div id="download">
    <div id="project" class="container">
        <h3><a class="github" href="http://{{.Project}}" target="_blank" title="{{.Project}}">{{.Project}}</a> <small><a href="/build/{{.Project}}">build console(new)</a></small></h3>
    </div>
    <form id="dl-form" class="form form-align container" action="/dl">
        <input type="hidden" name="p" value="{{.Project}}" />
        <div class="field os">
            <label>OS</label>
            <span class="windows radio">
                <input type="radio" name="os" value="windows" class="chk" checked/><em>Windows</em>
            </span>
            <span class="linux radio">
                <input type="radio" name="os" value="linux" class="chk"/><em>Linux</em>
            </span>
            <span class="darwin radio">
                <input type="radio" name="os" value="darwin" class="chk"/><em>MacOSX</em>
            </span>
        </div>
        <p class="field bit-size">
            <label>Bit Size</label>
            <span class="radio">
                <input type="radio" name="arch" value="amd64" class="chk" checked/><em>amd64</em>
            </span>
            <span class="radio">
                <input type="radio" name="arch" value="386" class="chk"/><em>i386</em>
            </span>
        </p>
        <p class="field branch">
            <label>Branch|Tag</label>
			<input type="text" name="branch" value="master">
        </p>
        <p>
            <label>&nbsp;</label>
            <button class="btn-red btn icon-download">Compile ~ Download</button>
        </p>
    </form>
    <div id="terminal" class="container form">
        <h4>Use <code>got</code></h4>
        <p class="field">
            command line tool for gobuild: <a href="https://github.com/gobuild/got">github.com/gobuild/got</a><br/>
            very simple to use: <input type="text" value="got {{.ProjectShortName}}" readonly/>
        </p>
        <h4>Use Terminal</h4>
        <p class="field">
            <input id="wget-addr" type="text" name="wget-addr" class="ipt" readonly/>
        </p>
        <p class="field">
            <input id="curl-addr" type="text" name="curl-addr" class="ipt" readonly/>
        </p>
        <p class="tip">Binary file and static assets are compressed into zip file. Read <a href="https://github.com/shxsun/gobuild#gobuild-optional" target="_blank">details</a>.</p>
    </div>
</div>
<script>
    $(function () {
        var $wget = $("#wget-addr");
        var $curl = $("#curl-addr");
        var $form = $("#dl-form");
		var $os = $(":input[name=os]"), $arch = $(":input[name=arch]");
		var $branch = $(":input[name=branch]");

		var x = getosarch();
		$os.filter("[value="+x.os+"]").attr("checked", true);
		$arch.filter("[value="+x.arch+"]").attr("checked", true);

        var autoAddr = function () {
            var os = $os.filter(":checked").val(),
                    arch = $arch.filter(":checked").val(),
                    link = "http://{{.Hostname}}/{{.Project}}/"+[$branch.val(), os, arch].join('/');
            $form.attr("action", link);
            $wget.val("wget " + link + " -O output.zip");
            $curl.val("curl -L " + link + " -o output.zip");
        };
        autoAddr();
        $form.change(autoAddr).on("submit",function(){
            window.location = $form.attr("action");
            return false;
        });

        $wget.click(function() {this.select();});
        $curl.click(function() {this.select();});
    });
</script>
