<div>
	project: <a href="http://{{.Project}}">{{.Project}}</a>
	<div>
		<h3>Select <i>OS</i> and <i>Arch</i></h3>
		<form role="form" class="form-horizontal" action="/dl">
			<input type="hidden" name="p" value="{{.Project}}" />
			<div class="form-group">
				<label class="col-md-2">操作系统</label>
				<div class="col-md-10">
					<label><input type="radio" name="os" value="windows" checked /> windows</label>
					<label><input type="radio" name="os" value="linux" /> linux</label>
					<label><input type="radio" name="os" value="darwin" /> mac</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">处理器</label>
				<div class="col-md-10">
					<label><input type="radio" name="arch" value="amd64" checked /> amd64</label>
					<label><input type="radio" name="arch" value="386" /> 386</label>
					<!--
					<label><input type="radio" name="arch" value="arm" /> arm</label>
					-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">版本</label>
				<div class="col-md-10">
					<label><input type="radio" name="version" value="master" checked /> master</label>
				</div>
			</div>
		</form>
	</div>

	<hr/>
	<p>
		<input type="input" id="wgetaddr" class="col-md-12" onclick="this.select()" value="wget http://{{.Hostname}}/{{.Project}}/master/windows/amd64 -O output.zip" />
	</p>

	<!--
	<h4>使用脚本下载</h4>
	<code>
		curl -s http://{{.Server}}/dlscript/{{.Project}} | bash
	</code>
	-->
	<script>
	$(function(){
		$wget = $("#wgetaddr");
		$("form").change(function(){
			os = $(":input[name=os]:checked").val();
			arch = $(":input[name=arch]:checked").val();
			$wget.val("wget http://{{.Hostname}}/{{.Project}}/master/"+os+"/"+arch + " -O output.zip");
		});
	});
	</script>
</div>

