<div class="row clearfix">
	<div class="col-md-12 column">
		<form id="form" role="form" method="get" action="#">
			<div class="form-group">
				<label for="name">git project address</label>
				<input type="text" class="form-control col-md-8" id="address" placeholder="github.com/user/project" required autofocus/>
			</div>
			<button type="submit" class="btn btn-default">goto download page</button>
		</form>
	</div>
</div>
<hr/>
<div class="row clearfix">
	<div class="col-md-12 column">
		<p>
			Sample Usage:
			<div class=code>
			wget {{.Hostname}}/github.com/gpmgo/gopm/master/linux/amd64 -O gopm.zip
			</div>
		</p>
		<p> This website is still in progress, there must have a lot to learn and grow. If you feel something can be better, please tell us through <a href="https://github.com/shxsun/gobuild/issues">github issues</a>. We will try our best to make it better.
		</p>
		<p>
		该项目还处于起步的阶段，肯定还有许多需要完善的。如果你感觉哪里需要改进的地方，直接<a href="https://github.com/shxsun/gobuild/issues">提交个issue</a>就可以啦。
		<br/>
		<strong>我们非常重视每一个反馈</strong>。只要我们能搞定的，我们都尽量搞定；搞不定的,我们也会想着法的搞定。
		</p>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12 column">
		<h2>Cases</h2>
		<ul>
			<li><a href="./github.com/shxsun/gobuild">github.com/beego/bee</a></li>
			<li><a href="./github.com/beego/bee">github.com/beego/bee</a></li>
			<li><a href="./github.com/gpmgo/gopm">github.com/gpmgo/gopm</a></li>
			<li><a href="./github.com/laher/goxc">github.com/laher/goxc</a></li>
			<li><a href="./github.com/parkghost/gohttpbench">github.com/parkghost/gohttpbench</a></li>
			<li>...</li>
		</ul>
	</div>
</div>
<script src="./home.js"></script>

