<div id="hero">
    <div class="container">
        <h2>Compile Go Projects to <strong>Windows, Linux and MacOSX</strong></h2>
        <h4>Integration with github, Support static assets</h4>
    </div>
</div>
<div id="container" class="clear grid">
    <form id="go-form" class="container form grid-2-3">
        <p class="item">
            <input class="ipt" type="text" placeholder="github repository address, e.g. github.com/user/project" id="go-ipt"/>
        </p>
        <p class="item text-center">
            <button class="class btn btn-blue go-btn icon-search">Search</button>
            <button class="btn btn-red go-btn icon-download">Compile ~ Download</button>
            <input type="hidden" name="f" value="www"/>
        </p>
    </form>
    <div id="feature" class="container clear">
        <div class="grid-1-4 case right feature">
            <h5 class="title">Popular Cases</h5>
            <ul>
                <li><em class="lbl lbl-green">108</em><a href="/build/github.com/shxsun/gobuild">shxsun/gobuild</a></li>
                <li><em class="lbl lbl-green">98</em><a href="/build/github.com/beego/bee">beego/bee</a></li>
                <li><em class="lbl lbl-green">67</em><a href="/build/github.com/gpmgo/gopm">gpmgo/gopm</a></li>
                <li><em class="lbl lbl-green">18</em><a href="/build/github.com/laher/goxc">laher/goxc</a></li>
                <li><em class="lbl lbl-green">4</em><a href="/build/github.com/parkghost/gohttpbench">parkghost/gohttpbench</a></li>
                <li>...</li>
            </ul>
        </div>
        <div class="grid-2-3 doc left feature">
            <h5 class="title">How to use</h5>
            <pre><code>wget gobuild.io/github.com/user/project/master/linux/amd64 -O output.zip
curl -L gobuild.io/github.com/user/project/master/linux/amd64 -O output.zip</code></pre>
        </div>
        <div class="grid-2-3 doc left warning">
            <h5 class="title">Warning</h5>
            <p>Not support <a href="#" class="lbl lbl-red"><strong>cgo</strong></a> and package
                <a href="#" class="lbl lbl-red"><strong>os/user</strong></a>,
                Read <a href="https://github.com/shxsun/gobuild#qaknownen-issues" target="_blank">details</a>.</p>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#go-ipt").on('input',(function(){
            $("#go-form").attr("action", "/build/"+$(this).val());
        }));
    });
</script>
