<!DOCTYPE html>
<html>
	<head>
		<title>golang online compiler</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
		<!-- Oional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->
	</head>
	<body>	
		<div class="container">
			<div >
				<h2><img src="http://goer.cc/themes/site/default/images/logo.png"/> golang online compiler <small><a target="_blank" href="https://github.com/shxsun/gobuild/issues">意见反馈</a></small></h2>
			</div>

			{{ yield }}

			<hr/>	
			<small>author: skyblue</small>
		</div>
	</body>
</html>
